@model IEnumerable<Sample.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="List">View List</a>
</p>

<div class="input-group container1">
    <div>
        <p>
            <a asp-action="Create" class="button" style="background-color:orangered">New Registartion</a>
        </p>

    </div>
    <div>
        <form asp-action="Index">
            <div class="input-group cs1">

                <input type="text" name="child" placeholder="Search" aria-label="Search" class="user-box " />
                <input type="submit" value=" search" id="basic-text1" />

            </div>
        </form>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $("basic-text1").click(function () {
                $("Form").submit();
            })
        });
    </script>
}

<table class="table">
    <tr>
        <th>Actions</th>
        <th>EmployeeName</th>
        <th>EmployeeDepartment</th>
        <th>EmployeeDesignation</th>
        @*<th>@Html.DisplayNameFor(model => model.EmployeeName) </th>
        <th>@Html.DisplayNameFor(model => model.EmployeeDepartment) </th>
        <th>@Html.DisplayNameFor(model => model.EmployeeDesignation) </th>*@
        
    </tr>
    <tbody>
    @foreach(var temp in Model)
    {
        <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@temp.EmployeeId" class="button">Edit</a> |
                    <a asp-action="Details" asp-route-id="@temp.EmployeeId" class="button button2">Details</a> |
                    <a asp-action="Delete" asp-route-id="@temp.EmployeeId" class="button button3">Delete</a> |
                </td>
                <td> @Html.DisplayFor(item => temp.EmployeeName)</td>
                <td> @Html.DisplayFor(item => temp.EmployeeDepartment)</td>
                <td> @Html.DisplayFor(item => temp.EmployeeDesignation)</td>
            
        </tr>

    }
    </tbody>
</table>

<partial name="/Views/Home/Footer.cshtml" />

